<div 
    class="w-full px-8 py-16 md:px-12 lg:px-24 xl:px-40 max-w-screen-2xl
            flex items-center justify-between
            font-vietnam">
    <a href="#"><img src="/images/logo.svg"></a>
    <nav class="">
    <ul class="con | flex
               typ | text-sm font-bold">
        <li class="ml-8"><a href="#">Pricing</a></li>
        <li class="ml-8"><a href="#">Product</a></li>
        <li class="ml-8"><a href="#">About Us</a></li>
        <li class="ml-8"><a href="#">Careers</a></li>
        <li class="ml-8"><a href="#">Community</a></li>
    </ul>
    </nav>

    <button 
       class="con | px-6 py-3 
              con-sty | bg-accent-orange-primary hover:bg-accent-orange-secondary rounded-full shadow-md
              typ | text-white text-xs"
    >
        Get Started
    </button>
</div>

<!-- Reusable Component Settings: JQuery -->
<!-- <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>
<script>
    $(function () {
    $(".button").load("button.html");
    });
</script> -->